* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

/* Navbar using Flexbox */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #040404;
  color: white;
}

/* Form Layout */
.form-container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* Catalog Grid */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Product Card */
.product {
  background: white;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cart Layout using Flexbox */
.cart-item {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}

img{
    width: 450px;
    height: 250px;
    object-fit: cover;
}