body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 18px;
}
#chartContainer {
  width: 380px;
  margin: 20px auto;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

canvas {
  width: 100% !important;
  height: 220px !important;
}
